@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

    Introduction
    We are committed to safeguarding the privacy of our website visitors and service users.
    This policy applies where we are acting as a data controller with respect to the personal data of our website visitors and service users; in other words, where we determine the purposes and means of the processing of that personal data.
    Our website incorporates privacy controls which affect how we will process your personal data.
    In this policy, "we", "us" and "our" refers to our above company name only.
    Credit
    How we use your personal data
    In this Section we have set out:
    the general categories of personal data that we may process;
    the purposes for which we may process personal data; and
    the legal bases of the processing.
    We may process data about your use of our website. The usage data may include your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use. This usage data may be processed for the purposes of analysing the use of the website. The legal basis for this processing our legitimate interests, namely monitoring and improving our website.
    We may process information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters. The notification data may be processed for the purposes of sending you the relevant notifications and/or newsletters. The legal basis for this processing is our legitimate interests, namely the proper administration of our communications with users.
    We may process information contained in or relating to any communication that you send to us. The correspondence data may include the communication content. The correspondence data may be processed for the purposes of communicating with you and record-keeping. The legal basis for this processing is our legitimate interests, namely the proper administration of our communications with users.
    We may process any of your personal data identified in this policy where necessary for the establishment, exercise or defense of legal claims, whether in court proceedings or in an administrative or out-of-court procedure. The legal basis for this processing is necessary for compliance with a legal obligation to which the controller is subject.
    We may process any of your personal data identified in this policy where necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, or obtaining professional advice. The legal basis for this processing is our legal obligation to protect our school against risks.
    In addition to the specific purposes for which we may process your personal data set out in this Section 3, we may also process any of your personal data where such processing is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.
    Please do not supply any other person's personal data to us, unless we prompt you to do so.
    Retaining and deleting personal data
    This Section sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal data.
    Personal data that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.
    Notwithstanding the other provisions of this Section 4, we may retain your personal data where such retention is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.

</p>
